<footer class="bg-white px-4 flex flex-col">
	<div class="w-full lg:px-44 py-10 lg:py-20">
		<div class="flex flex-col lg:flex-row justify-between w-full">
			<div class="space-y-8 lg:w-1/4">
				{{svg "California-Approves-Logo-RGB-OL.svg" class="w-[137px]"}}
				<p class="leading-6">
					California Approves is a grassroots organization working to improve democracy, reduce
					political polarization, and make progress on the things Californians can agree on.
				</p>
			</div>
			<div class="lg:w-1/4 lg:px-8">
				<h3 class="py-2 lg:text-sm font-semibold leading-6 text-orange">Learn More</h3>
				<ul class="py-3 space-y-3 lg:space-y-4 lg:pt-6">
					<li><a href="/about" class="caa-link">About</a></li>
					<li><a href="/faq" class="caa-link">FAQ</a></li>
					<li><a href="/approval-101" class="caa-link">Approval 101</a></li>
				</ul>
			</div>
			<div class="lg:w-1/4 lg:px-8">
				<h3 class="py-2 lg:text-sm font-semibold leading-6 text-orange">Support</h3>
				<ul class="py-3 space-y-3 lg:space-y-4 lg:pt-6">
					<li><a href="/contact" class="caa-link">Join Us</a></li>
					<li><a href="/donate" class="caa-link">Donate</a></li>
					<li><a href="mailto:info@californiaapproves.org" class="caa-link">Contact Us</a></li>
					<li><a href="https://californiaapproves.creator-spring.com/" target="_blank" class="caa-link">Merchandise</a></li>
				</ul>
			</div>
			<div class="lg:w-1/4">
				<div>
					<h3 class="py-2 lg:text-sm font-semibold leading-6 text-orange">Follow Us</h3>
					<div class="py-3 lg:pt-0">
						<div class="flex space-x-6 lg:mt-6">
							<a href="https://www.facebook.com/CaliforniaApproves/" class="text-purple hover:text-purple-high"><span class="sr-only">Facebook</span>{{svg "social/facebook.svg" class="h-6 w-6"}}</a>
							<a href="https://www.instagram.com/california_approves/" class="text-purple hover:text-purple-high"><span class="sr-only">Instagram</span>{{svg "social/instagram.svg" class="h-6 w-6"}}</a>
							<a href="https://twitter.com/CAapproves" class="text-purple hover:text-purple-high"><span class="sr-only">Twitter</span>{{svg "social/twitter.svg" class="h-6 w-6"}}</a>
							<a href="https://www.youtube.com/@CaliforniaApproves" class="text-purple hover:text-purple-high"><span class="sr-only">YouTube</span>{{svg "social/youtube.svg" class="h-6 w-6"}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-16 border-t border-white/10 py-8 lg:mt-24 flex flex-row justify-between">
			<a href="https://creativecommons.org/licenses/by/4.0/" class="text-xs leading-5">© Creative Commons Attribution 4.0 License</a>
			<p class="text-xs leading-5">This site is funded by California Approves: FPPC# 1440633</p>
		</div>
	</div>
</footer>
