<div class="bg-white lg:sticky top-0 z-30">
	<div class="flex items-center justify-between border-b border-purple py-6 lg:justify-start lg:space-x-10">
		<div class="flex justify-start items-center lg:flex-auto">
			<a href="/" class="caa-link m-4"><span class="sr-only">CA Approves</span>{{svg "California-Approves-Logo-RGB-OL.svg" class="w-56"}}</a>
			<a href="/approval-101/" class="caa-link text-green hover:text-green-high ml-7 hidden lg:block"><h5>APPROVAL&nbsp;VOTING</h5></a>
			<a href="/faq/" class="caa-link text-green hover:text-green-high ml-7 hidden lg:block"><h5>FAQ</h5></a>
			<a href="/our-reforms/approval-primary/" class="caa-link text-green hover:text-green-high ml-7 hidden lg:block"><h5>OUR&nbsp;CAMPAIGN</h5></a>
		</div>
		<div class="hidden items-center justify-end lg:flex lg:flex-auto">
			<a href="/contact/" class="caa-link"><button type="button" class="caa-button rounded-2xl px-4 py-2 uppercase flex text-center tracking-[-0.01rem] justify-center items-center font-extrabold cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed text-white bg-orange hover:bg-orange-high text-bsm h-[40px] w-[121px]">Join Us</button></a>
			<a href="/donate/" class="caa-link"><button type="button" class="caa-button rounded-2xl px-4 py-2 uppercase flex text-center tracking-[-0.01rem] justify-center items-center font-extrabold cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed text-white bg-purple hover:bg-purple-high text-bsm h-[40px] w-[121px] ml-4">Donate</button></a>
		</div>
		<nav class="flex mx-4">
			<caa-menu>
				<button type="button" aria-expanded="false" aria-controls="mobile-menu" class="text-gray-500 group inline-flex items-center rounded-md bg-white font-medium hover:text-gray-900 focus:outline-hidden focus:ring-2 focus:ring-purple focus:ring-offset-2">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="lg:hidden text-purple hover:text-purple-high w-16 m-4">
						<path fill-rule="evenodd" d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75ZM2 10a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 10Zm0 5.25a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd"></path>
					</svg>
				</button>
				<div id="mobile-menu" data-menu-panel hidden class="absolute left-0 z-10 mt-3 w-full transform px-2 sm:px-0">
					<div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black/50 text-white">
						<div class="relative w-full grid gap-6 bg-purple px-5 py-6 sm:gap-8 sm:p-8">
							<a href="/approval-101/" class="caa-link text-white hover:text-schist-low mx-4 text-base"><h2>Approval Voting</h2></a>
							<a href="/faq/" class="caa-link text-white hover:text-schist-low mx-4 text-base"><h2>FAQ</h2></a>
							<a href="/our-reforms/approval-primary/" class="caa-link text-white hover:text-schist-low mx-4 text-base"><h2>Our Campaign</h2></a>
						</div>
						<div class="bg-purple px-5 py-5 flex flex-row space-y-0 sm:px-8">
							<a href="/contact/" class="caa-link"><button type="button" class="caa-button rounded-2xl px-4 py-2 uppercase flex text-center tracking-[-0.01rem] justify-center items-center font-extrabold cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed text-white bg-orange hover:bg-orange-high text-bsm h-[40px] w-[121px]">Join Us</button></a>
							<a href="/donate/" class="caa-link"><button type="button" class="caa-button rounded-2xl px-4 py-2 uppercase flex text-center tracking-[-0.01rem] justify-center items-center font-extrabold cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed border-[6px] border-orange hover:border-orange-high text-bsm h-[40px] w-[121px] ml-4 text-white">Donate</button></a>
						</div>
					</div>
				</div>
			</caa-menu>
		</nav>
	</div>
</div>
